
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(216, 163, 93);
    width: 100%;
    margin: auto;
    padding: 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    width: 300px;
    
}

.encabezado{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;



}

.encabezado a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    background-color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;

}

header p{
    width: 700px;
    text-align: right;
    margin-top: 25px;
}
main{
    width: 980px;
    margin: auto;
    background-color: rgb(188, 190, 151);
    padding: 50px;
    
}
main h1{
    text-align: center;
    margin-bottom: 50px;

}

section p{
    text-align: justify;
    
}

section img{
    float: right;
    width: 350px;
    margin-left: 50px;
    margin-bottom: 50px;
    
}

section h2{
    clear: both;
    text-align: center;
    margin-bottom: 50px;

}

footer{
    text-align: center;
    clear: both;
}

.part1 img {
    width: 50px;
    padding: 10px;
    
}