@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Class Selectors */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #208aae;
    --secondary-color: #f9ebe0;
    --accent1-color: #463f1a;
    --accent2-color: #0d2149;

    --nav-background-color: #f9ebe0;
    --nav-link-color: #208aae;
    --nav-hover-link-color: #60492c;
    --nav-hover-background-color: #463f1a; 
}

body {
        font-family: var(--paragraph-font);
        max-width: 960px;
        padding: 20px;
}
 h1,h2, h3, h4, h5, h6 {
        font-family: var(--heading-font) ; color: var(--primary-color);
}

header {
            padding: 20px;
            background-color: var(--accent1-color);
}  
p {
    padding: 25px;
}

 nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem; 
    display: flex;
    }
nav a {
    display: block;
    color: #f9ebe0;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f9ebe0;
}  
nav a:link, nav a:visited {
    color: #f9ebe0;
}  
nav a:hover {
color: var(--nav-hover-link-color);
background-color: var(--nav-hover-background-color);
}               



main img {
    width: 150px;
    height: auto;
}

aside { 
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: #f9ebe0;
    color: aquamarine;
    text-align: center;
} 

aside image { 
    width: 200px;
    height: auto;
} 

p {  padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #60492c;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #f9ebe0;
    color: #60492c;
}

aside {
    width: 20rem;
    text-align: center;
}

main img {
    /* you must likely will have other declarations here */
    float: right;
}

aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}

header, footer{
    max-width: 840px;
    margin: 0 auto;
}

nav{
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

